.answer-field {
    position: relative;
    cursor: pointer;
}

.answer-index {
    position: absolute;
    top: 50%;
    left: 4.5rem;
    transform: translateY(-50%);
    color: #FF8B37;
    font-size: 2.0rem;
    font-weight: 600;
    user-select: none;
    margin: 0;
}

.answer-text {
    position: absolute;
    top: 50%;
    left: 7.0rem;
    transform: translateY(-50%);
    max-width: 25ch;
    font-size: 2.0rem;
    font-weight: 400;
    user-select: none;
    margin: 0;
}


@media (max-width: 500px) {
    .answer-index,
    .answer-text {
        font-size: 1.4rem;
    }
}


/* SVG styles hover*/
.answer-field:hover .answer-svg .right-stick,
.answer-field:hover .answer-svg .left-stick,
.answer-field:hover .answer-svg .main-path {
    stroke: #FF8B37;
}

.answer-selected .answer-svg .main-path {
    fill: #FFF3EB;
}