.end-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.main-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 110.0rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumb-svg {
    width: 45.0rem;
    height: 35.0rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.text-content .total-score {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.7rem;
    color: #88888c;
}

.text-content .score-text{
    line-height: 116%;
    min-width: 1.5ch;
    margin-top: 1.0rem;
    font-size: 5.6rem;
    font-weight: 600;
}

@media(max-width: 1200px) {
    .end-page .main-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .end-page .content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .end-page .content-container .total-score{
        text-align: center;
    }

    .end-page .content-container .score-text{
        text-align: center;
    }

}

@media (max-width: 700px) {
    .end-page .thumb-svg {
        width: 20.0rem;
        height: 15.5rem;
    }

    .end-page .content-container .total-score{
        font-size: 1.8rem;
    }

    .end-page .content-container .score-text{
        font-size: 3.2rem;
    }
}